
body {

  max-width: 320px;
  margin: auto;
}

/*header area*/

header{

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  padding: 10px 30px 10px 30px;

}
#logo{
  margin: auto;

}
#logo img{
  height: 40px;
  margin-top: -25px;
}

#search img{
  float: right;
  height: 20px;
  width: 20px;
  margin-top: 20px;
}


/*menu */


#toggle
{
    height: 60px;
    padding: 20px 0;
    position: relative;
}

#toggle:hover
{
    cursor: pointer;
}
#toggle .menu-line
{
    width: 26px;
    height: 4px;
    background: #5B5B5B;
    left: 1px;
    position: absolute;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    top: 28px;
}

#toggle:before, #toggle:after
{
    content: '';
    height: 4px;
    width: 26px;
    background: #5B5B5B;
    left: 1px;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    top: 28px;
}

#toggle:before
{
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

#toggle.on:before
{
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

#toggle.on:after
{
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

#toggle:after
{
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu li{
    padding: 10px;
}
ul{
  padding: 0px;
}

.menu-left-part {
  display: none;
  float: left;
  margin-top: 60px;
  margin-left: -30px;
  z-index: 999;
  width: 60%;
  background-color: #F2FAFF;
}

.menu{
    display: block;
    flex-direction: column;
    justify-content: center;
}
.menu a{
    color: #707070;
    text-decoration: none;
    text-align: left;
    padding-left: 10px;
}

.menu-item{
    display: block;

}
.menu-item img {
    width: 20px;
    margin-left: 10px;
}

.show {
  display: block;
}

/*-- her begynder koden for kort spillet--*/
@font-face {
  font-family: Century;
}

@font-face {
  font-family: century;

}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

main {

  background: radial-gradient(#fafafa, #002346);
}


.page-title {
  color: #f2faff;
  font-family: century, serif;
  font-weight: normal;
  text-align: center;
  font-size: 2em;
  border-radius: 15px;

}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  font-family: century, serif;
  color: #f2faff;
  font-size: 2em;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 125px;
  width: 95px;
}


.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0)
}

.card.matched .card-value {
  animation: dance 1s linear infinite 500ms;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 350px;
  left: 0;
  right: 0;
  bottom: 1;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #f2faff;
  font-family: century, serif;


}

.overlay-text-small {
  font-size: .5em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 2em;
  }
}


.card-back {
  background-color: black;
  border-color: #FF6D00;
}

.card-front {
  background-color: #FFBB89;
  border-color: #333;
  transform: rotateY(180deg);
}


@media (min-width: 500px) {
  .game-container {
    grid-template-columns: repeat(3, auto);
  }

  @media (max-width: 500px) {
    .game-container {
      grid-template-columns: repeat(3, auto);
    }



  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}

.striber{
  position: absolute;
  width: 100px;
  height: 150px;
}
