* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #012945;
  padding: 30px 30px 30px 30px;
}

h1 {
  width: 100%;
  display: block;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: auto;
}

.full{
  width: 100%;
  display: block;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}
